@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "tailwindcss";
@import "tw-animate-css";


@theme inline {
  --radius-sm: 8px;
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-border: var(--secondary-border);
  --color-secondary-foreground-border: var(--secondary-foreground-border);
  --color-secondary-foreground-hover: var(--secondary-foreground-hover);
  --color-secondary-disabled: var(--secondary-foreground-hover);
  --color-secondary-foreground-disabled: var(--secondary-foreground-disabled);
  --color-tertiary: var(--tertiary);
  --color-tertiary-hover: var(--tertiary-hover);
  --color-tertiary-foreground: var(--tertiary-foreground);
  --color-tertiary-border: var(--tertiary-border);
  --color-tertiary-foreground-border: var(--tertiary-foreground-border);
  --color-tertiary-foreground-hover: var(--tertiary-foreground-hover);
  --color-tertiary-disabled: var(--tertiaryy-foreground-hover);
  --color-tertiary-foreground-disabled: var(--tertiary-foreground-hover);
  --color-link-foreground: var(--link-foreground);
  --color-link-foreground-hover: var(--link-foreground-hover);
  --color-link-foreground-disabled: var(--link-foreground-disabled);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-neutral-900: #1C1C1E;
  --color-neutral-950: #141415;
  --color-neutral-gray: #707179;
}

:root {
  --radius: 0.625rem;
  --background: #0C0E12;
  --foreground: oklch(0.145 0 0);
  --card: #1A1A1A;
  --card-hover: #1F1F1F;
  --card-foreground: oklch(0.145 0 0);
  --menu-card-background-hover: #2C2C2C;
  --popover: oklch(1 0 0);
  --primary: #23C7FD;
  --primary-rgb: 35, 199, 253;
  --primary-foreground: #031328;
  --primary-hover: #1AA4D0;
  --disabled: #434651;
  --disabled-foreground: #515559;
  --primary-foreground-disabled: #A3A2A8;
  --secondary: transparent;
  --secondary-foreground: #FFFFFF;
  --secondary-border: #3A3A3A;
  --secondary-foreground-border: #3A3A3A;
  --secondary-foreground-hover: #23C7FD;
  --secondary-foreground-disabled: #A3A2A8;
  --tertiary: #FFFFFF;
  --tertiary-hover: #DEDEDE;
  --tertiary-foreground: #3A3A3A;
  --tertiary-border: #3A3A3A;
  --tertiary-foreground-border: #3A3A3A;
  --tertiary-foreground-hover: #3A3A3A;
  --tertiary-foreground-disabled: #A3A2A8;
  --link-foreground: #FFFFFF;
  --link-foreground-hover: #23C7FD;
  --link-foreground-disabled: #A3A2A8;
  --muted: oklch(0.97 0 0);
  --muted-foreground: #707179;
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: #EF4444;
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --muted-foreground: #737373;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Inter', sans-serif;
  }
}

@layer utilities {

  .text-body {
    @apply font-normal not-italic text-[11.78px] leading-[17.66px] tracking-[0] text-center ;
  }

  .text-xs {
    @apply  font-normal text-[0.75rem] leading-[150%] tracking-[0.015em];
  }

  .text-sm {
    @apply font-normal text-[0.88rem] leading-[150%] tracking-[0.005em];
  }

  .text-base  {
    @apply font-normal text-base leading-6;
  }

  .text-medium {
   @apply font-medium text-sm leading-5; 
  }

  .text-lg {
    @apply  not-italic text-[14.72px] leading-[22.08px] tracking-[0];
  }

  .text-2xl {
    @apply  not-italic font-bold text-[24px] leading-[32px];
  }

  .card-shadow {
    @apply border-2 border-[var(--card)];
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
  }

  .info-text {
    @apply text-[var(--primary)]  font-medium text-xs leading-[15px];
  }

  .text-yellow-20 {
    color: #FFF172;
  }
}


